# Ignore Python cache
__pycache__/
*.py[cod]

# Ignore Jupyter Notebook autosaves
.ipynb_checkpoints/

# (Optional) Ignore local outputs
research_outputs/


*.pyc
.env
# Ignore environments and temporary files
venv/


# Ignore Python bytecode
__pycache__/
*.pyc
